.About{
    width: 100%;
    height: 100vh;
}
.About p{
    text-align: justify;
    text-justify: inter-word;
}
.About h1{
    border-bottom: 1px solid rgb(255, 0, 0,0.836);
    padding: 6px;
}
.todo-card-p{
    text-align: justify;
    text-justify: inter-word;
}
