.h1 {
    font-size: 3rem;
    position: relative;
    font-weight: bold;
    color: #1f2937;
    letter-spacing: -0.02em;
    line-height: 1.2;
  }
  .haider{
    display: flex;
    position: relative;
    
    justify-content: center;
  }
.bod{
    margin-top: 8vh;
    display: flex;
    justify-content: space-around;
}
.inp{
   
   width: 50vw;
    height: 40vh;
}
.i1{
    position: relative;
    flex-basis: 200px;
    margin-left: 3vw;
    flex: 1 1 200px; /* grow shrink basis */
}
.main{
    background: linear-gradient(to right, #8b5cf6, #ec4899); 
    height: 100%;
}